html, body {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
}

a {
    color: #2D7C76;
}

nav.navbar {
    height: 70px;
    background-color: #2D7C76;
}

div.navbar-header, a.navbar-brand {
    width: 100%;
}

a.navbar-brand img {
    height: 40px;
    margin: 0px auto;
}

div#map_canvas {
  width: 100%;
  height: 100vh; /* http://stackoverflow.com/a/16837667 */
}

div.container-fluid {
    margin-top: 70px;
    padding: 0px;
}

div#container-main {
}

div#container-restaurant {
    padding: 20px 40px;
}

div#container-restaurant h1 {
    margin: 0px;
}

div#container-restaurant h1 a {
    color: #2D7C76;
}

div#container-restaurant h4 a {
    color: #666;
}

div#restaurantinfo {
    margin-top: 10px;
    margin-bottom: 10px;
}

div#textform {
    display:table-cell;
    vertical-align:middle;
    text-align: right;
}