html, body {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    background-color: #eff5f4;
}

a {
    color: #2D7C76;
}

button {
    outline: none !important;
}

nav.navbar {
    height: 70px;
    background-color: #2D7C76;
    background: -webkit-linear-gradient(#2D7C76, #246964; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2D7C76, #246964); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2D7C76, #246964); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(#2D7C76, #246964);
}

div.navbar-header {
    width: 100%;
    text-align: center;
    height: 70px;
}

a#logo {
    margin: 0px auto;
    height: 70px;
    display:inline-block;
}

a#logo img {
    height: 40px;
    margin: 15px 160px;
}


@media (max-width: 600px) { /* on small screens, display the favorites icon super close to the logo */
    a#logo img {
        margin: 15px 20px 15px 50px;
    }
}

a#favorites-link {
    width: 30px;
    height: 70px;
    display: inline-block;
    top:0px;
    position: absolute;
}

a#favorites-link span {
    margin-top: 20px;
}


div#loading {
    z-index: 10000;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#loading img {
    margin: auto;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

div#map_canvas {
  width: 100%;
  height: 100%;
}

div.container-fluid {
    padding: 0px;
}

div#container-map {
    padding-top: 70px;
    height: 100%;
    width: 100%;
}

div#container-restaurant {
    padding: 20px 40px;
}

div#container-restaurant h1 {
    margin: 0px;
}

div#container-restaurant h1 a {
    color: #2D7C76;
}

div#container-restaurant h4 a {
    color: #666;
}

div#container-restaurant, div#container-favorites {
    position: absolute;
    top: 70px;
    width: 100%;
}

div#container-favorites div.row {
    width: 100%;
}

div#restaurantinfo {
    margin-top: 10px;
    margin-bottom: 10px;
}

div#textform {
    display:table-cell;
    vertical-align:middle;
    text-align: right;
}

.unfavorited, .unfavorited a {
    color: #8B642A;
}

.favorited, .favorited a {
    color: #FFC061;
}

.glyphicon.glyphicon-star-empty {
    font-size: 30px;
}
.glyphicon.glyphicon-star {
    font-size: 30px;
}

#clearFavoritesButton {
    margin-top: 20px;
}

.center {
    text-align: center;
}
