<% include ../templates/header %>


<div class="container-fluid" id="container-main">
    <div class="row">
    </div>

    <div id="map_canvas"></div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam placerat congue nibh, vel vestibulum lacus scelerisque vel. Praesent sapien diam, tincidunt mattis molestie quis, cursus vitae velit. Maecenas id maximus erat. Nulla finibus, magna et pulvinar consectetur, dolor augue ornare mi, non consequat dui tortor in risus. In vel euismod lorem. Maecenas pellentesque, metus quis dapibus finibus, neque urna sagittis quam, quis molestie ex magna at lorem. Cras aliquet lacinia molestie. In quam ligula, condimentum vitae fringilla quis, pulvinar sed elit. Nulla venenatis dictum mi, quis luctus purus dictum et. Suspendisse eleifend urna vitae ipsum congue, et pharetra sapien facilisis. Nunc ex arcu, ultrices ornare pulvinar quis, imperdiet et turpis. Sed augue nunc, fringilla eget neque a, cursus bibendum ante.</p>

    <div class="row">
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>

    </div>

</div>

<% include ../templates/footer %>