<% include ../templates/header %>

<script>
	$(document).ready(function(){
		for(key in localStorage) {
			var data = JSON.parse(localStorage[key]);
			$("#favoriteList").prepend('<p><img src=favorites_carrot.png><a href="' + data.link + '">' + data.name + '</a></p>');
		}
		if ($('#favoriteList').is(':empty')) {
			$("#favoriteList").prepend('<p> Go find some carrots! </p>');
		}
	});

	function clearFavorites() {
		$("#favoriteList").empty();
		localStorage.clear();
		$("#favoriteList").prepend('<p> Go find some carrots! </p>');

	}

   

</script>

<div class="container-fluid">
    <h1> Carrots! 
    <button type="button" class="btn btn-default" onclick='clearFavorites()'>
	Eat my carrots!
	</button>
	</h1>
    <div id='favoriteList'></div>
</div>

<% include ../templates/footer %>