<% include ../templates/header %>

<script>
	$(document).ready(function(){
		for(key in localStorage) {
			var data = JSON.parse(localStorage[key]);
			$("#favoriteList").prepend('<p><img src="/img/favorites_carrot.png"><a href="' + data.link + '">' + data.name + '</a></p>');
		}
		if ($('#favoriteList').is(':empty')) {
			$("#favoriteList").prepend('<p> <a href="/">Go find some carrots!</a> </p>');
		}
	});

	function clearFavorites() {
		$("#favoriteList").empty();
		localStorage.clear();
		$("#favoriteList").prepend('<p><a href="/">Go find some carrots!</a> </p>');
	}
</script>

<div class="container-fluid" id="container-favorites">
	<div class="row">
		<div class="col-md-3"></div>
			<div class="col-md-6">
	    		<h1 class="center">Carrots!</h1>

	    		<div id='favoriteList'></div>
	    	</div>
		<div class="col-md-3">
			<button type="button" id="clearFavoritesButton" class="btn btn-default" onclick="clearFavorites()">Eat my carrots!</button>
		</div>
    </div>
</div>

<% include ../templates/footer %>