<% include ../templates/header %>

<div id="loading">
 <!--   <div id="loading-inner">-->
        <img src="/img/loading.gif">
        <!--<p>Locating you...</p>
    </div>-->
</div>

<div class="container-fluid" id="container-map">
    <div id="map_canvas"></div>
</div>

<% include ../templates/footer %>