<% include ../templates/header %>

<div id="loading">
    <img src="/img/loading.gif" alt="Locating you...">
</div>

<div class="container-fluid" id="container-map">
    <div id="map_canvas"></div>
</div>

<% include ../templates/footer %>