<% include ../templates/header %>

<div class="container-fluid" id="container-restaurant">
    <br>
    <h1 class="center">No photos for this restaurant. :(</h1>
    <br><br>
    <p class="center"><img src="/img/sandwich.png" alt="fail bunny"></p>
</div>

<% include ../templates/footer %>