<% include ../templates/header %>


<div class="container-fluid" id="container-restaurant">
    
    <p>BUNNY PHOTO HEREEEEEEEE</p>

    <p>No photos for this restaurant. :(</p>

</div>

<% include ../templates/footer %>