<% include ../templates/header %>


<div class="container-fluid" id="container-main">
    
    <h1><%= name %></h1>
    <h2>ID: <%= id %></h2>

    <div class="row">
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="http://placehold.it/350x350" class="img-responsive">
            </a>
        </div>

    </div>

</div>

<% include ../templates/footer %>