<% include ../templates/header %>


<div class="container-fluid" id="container-main">
    
    <h1><%= name %></h1>
    <h2>ID: <%= id %></h2>


    <div class="row">

<% for(var i = 0; i < images.length; i++) { %>

        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="<%= images[i] %>" class="img-responsive">
            </a>
        </div>


<% } %>



    </div>
</div>

<% include ../templates/footer %>